body {
    font-family: "Dosis", sans-serif;
}
  
/*body, html {
    height: 100%
}
  
.parallax {
    background-image: url("../img/facialplaceholder.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

header {
    text-align: center;
    color: white;
}

.navbar-item {
    color: white;
}

.nav-link {
    margin-right: 1em !important;
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

/* Keith Clark site
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-perspective-origin-x: 100%;
}

.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transform-origin-x: 100%;
}

.parallax_layer--base {
    transform: translateZ(0);
}

.parallax_layer--back {
    background-image: url("../img/facialplaceholder.jpeg");
    
    transform: translateZ(-1px) scale(2);
}

.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}*/
        
/*.navbar-collapse {
    justify-content: flex-end; 
}*/
      
/* This is from Digital Ocean Pure CSS parallax site */
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    /*background: #466882;*/
    background: #634b2c;
    color: white;
    height: 50vh;
    padding-left: 5%;
    padding-right: 5%;
}

#contactSection {
    padding-top: 3%;
}

.bg1::after {
    background-image: url("../img/homepage.jpg");
    background-repeat: no-repeat;
    /*max-height: 100%;
    width: auto;*/
}

.bg2::after {
    background-image: url("../img/botox_injection.jpg");
}

.bg3::after {
    background-image: url("../img/products.jpg");
}

.bg4::after {
    background-image: url("../img/group.jpg");
}

.bg5::after {
    background-image: url("../img/waiting_room.jpg");
}

#serviceJumbotron {
    background-image: url("../img/services_background.jpg");
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#productJumbotron {
    background-image: url("../img/product_background.jpg");
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    background-color: #466882;
    /*background-color: #826246;*/
    color: white;
}

/*#productPage {
    background-image: url(../img/product_background.jpg)
}*/
/* #oddrow {
    background-color: cadetblue;
}

#evenrow {
    background-color: darkkhaki;
} */